@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

.overflow-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.overflow-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-img-top {
  height: 15rem;
  object-fit: cover;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}